/* generales css */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* principal */

body {
    background-color: #1a1a1a;
    overflow-x: hidden;
}

.sectionMain {
    background-image: url(./../img/backgroundMain.svg);
    background-position: center;
    background-repeat: no-repeat;
}

.divContenedorInicio {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    flex-direction: column;
}

.divContenedorInicio h1 {
    font-size: 3rem;
    font-weight: bold;
    color: #ffffff;
    text-transform: uppercase;
    margin-bottom: 20px;
    font-family: "Protest Guerrilla", sans-serif;
}

.divContenedorInicio label {
    font-family: "Trade Winds", system-ui;
}

#buttonPlay {
    margin: 0;
    height: auto;
    background: transparent;
    padding: 0;
    border: none;
    cursor: pointer;
}

#buttonPlay {
    --border-right: 6px;
    --text-stroke-color: rgba(255, 255, 255, 0.6);
    --animation-color: #ff0000;
    --fs-size: 2em;
    letter-spacing: 3px;
    text-decoration: none;
    font-size: var(--fs-size);
    font-family: "Arial";
    position: relative;
    text-transform: uppercase;
    color: transparent;
    -webkit-text-stroke: 1px var(--text-stroke-color);
}

.hover-text {
    position: absolute;
    box-sizing: border-box;
    content: attr(data-text);
    color: var(--animation-color);
    width: 0%;
    inset: 0;
    border-right: var(--border-right) solid var(--animation-color);
    overflow: hidden;
    transition: 0.5s;
    -webkit-text-stroke: 1px var(--animation-color);
}

#buttonPlay:hover .hover-text {
    width: 100%;
    filter: drop-shadow(0 0 23px var(--animation-color))
}


/* ajustes generales modal */
.modal-content {
    font-family: "Vibes", system-ui;
    background-color: #ffffff;
    color: #020202;
    border-radius: 20px;
    padding: 20px;
    text-align: center;
    box-shadow: 0 0 20px 1px rgba(255, 255, 255, 0.3);
    transition: all 0.5s ease;
}

.modal-content h1 {
    font-size: 2.5rem !important;
    font-weight: bold;
    text-transform: uppercase !important;
}

.divCategorias {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    align-items: center;
    margin-top: 20px;
    gap: 20px;
}

.button3 {
    position: relative;
    width: 2em;
    height: 2em;
    border: none;
    background: #12183090;
    border-radius: 5px;
    transition: background 0.5s;
}

.X {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    width: 1.5em;
    height: 1.5px;
    background-color: #fff;
    transform: translateX(-50%) rotate(45deg);
}

.Y {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    width: 1.5em;
    height: 1.5px;
    background-color: #fff;
    transform: translateX(-50%) rotate(-45deg);
}

.close {
    position: absolute;
    display: flex;
    padding: 0.8rem 1.5rem;
    align-items: center;
    justify-content: center;
    transform: translateX(-50%);
    top: -70%;
    left: 50%;
    width: 3em;
    height: 1.7em;
    font-size: 12px;
    background-color: rgb(19, 22, 24);
    color: rgb(187, 229, 236);
    border: none;
    border-radius: 3px;
    pointer-events: none;
    opacity: 0;
}

.button3:hover {
    background-color: rgb(211, 21, 21);
}

.button3:active {
    background-color: rgb(130, 0, 0);
}

.button3:hover>.close {
    animation: close 0.2s forwards 0.25s;
}

@keyframes close {
    100% {
        opacity: 1;
    }
}

/* modal 1 */

.divImgCard {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    border-radius: 10px;
    overflow: hidden;
}

.divImgCard img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
    transition: all .3s;
}

.divContPackage {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 10px;
    margin-top: 20px;
}

.package {
    width: 200px;
    height: 254px;
    background-image: linear-gradient(163deg, #ff00ff 0%, #3700ff 100%);
    border-radius: 20px;
    text-align: center;
    transition: all 0.25s cubic-bezier(0, 0, 0, 1);
}

.package:hover {
    box-shadow: 0px 0px 30px 1px rgba(204, 0, 255, 0.3);
}

.package2 {
    width: 200px;
    height: 254px;
    background-color: #1d1724;
    border-radius: 10px;
    transition: all 0.25s cubic-bezier(0, 0, 0, 1);
    padding: 5px;
}

.package2:hover {
    transform: scale(0.98);
    border-radius: 18px;
}


/* modal 2 */
.modal-body {
    padding: 40px 0;
}

.divContenedorBtn {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 10px;
}

.btndiff {
    padding: 10px 20px;
    text-transform: uppercase;
    border-radius: 8px;
    font-size: 1.35rem;
    font-weight: 500;
    color: #ffffff80;
    text-shadow: none;
    cursor: pointer;
    box-shadow: transparent;
    border: 1px solid #ffffff80;
    transition: 0.5s ease;
    user-select: none;
    background: #1a1a1a;
}

.bt1:hover {
    background: #01d340;
    border: 1px solid #01d340;
    text-shadow: 0 0 5px #ffffff, 0 0 10px #ffffff, 0 0 20px #ffffff;
    box-shadow: 0 0 5px #01d340, 0 0 20px #01d340, 0 0 50px #01d340,
        0 0 100px #01d340;
}

.bt2:hover {
    color: #ffffff;
    background: #008cff;
    border: 1px solid #008cff;
    text-shadow: 0 0 5px #ffffff, 0 0 10px #ffffff, 0 0 20px #ffffff;
    box-shadow: 0 0 5px #008cff, 0 0 20px #008cff, 0 0 50px #008cff,
        0 0 100px #008cff;
}

.bt3:hover {
    color: #ffffff;
    background: #ff0000;
    border: 1px solid #ff0000;
    text-shadow: 0 0 5px #ffffff, 0 0 10px #ffffff, 0 0 20px #ffffff;
    box-shadow: 0 0 5px #ff0000, 0 0 20px #ff0000, 0 0 50px #ff0000,
        0 0 100px #ff0000;
}


.btATRAS {
    display: flex;
    height: 3em;
    width: 100px;
    align-items: center;
    justify-content: center;
    background-color: #7e7e7e;
    border-radius: 3px;
    letter-spacing: 1px;
    transition: all 0.2s linear;
    cursor: pointer;
    border: none;
}



.btATRAS>svg {
    margin-right: 5px;
    margin-left: 5px;
    font-size: 20px;
    transition: all 0.4s ease-in;
}

.btATRAS span {
    font-size: 1.2rem;
    font-weight: bolder;
    color: #030303;
    text-shadow: 0 0 5px #ffffff, 0 0 10px #ffffff, 0 0 20px #ffffff;

}

.btATRAS:hover>svg {
    font-size: 1.2em;
    transform: translateX(-5px);
}

.btATRAS:hover {
    box-shadow: 9px 9px 33px #978e8e5f, -9px -9px 33px #8f86866d;
    transform: translateY(-2px);
}

/* css botones modal 2*/